<hb-browse-header (barToggled)="drawer.toggle()"></hb-browse-header>

<body>
  <div class="container">
    <mat-drawer-container>
      <mat-drawer #drawer class="sidebar" mode="side">
        <hb-sidebar></hb-sidebar>
      </mat-drawer>

      <div class="content">
        <router-outlet name="browse-content"></router-outlet>
        <div class="books">
          <hb-book-card></hb-book-card>
          <hb-book-card></hb-book-card>
          <hb-book-card></hb-book-card>
          <hb-book-card></hb-book-card>
          <hb-book-card></hb-book-card>
          <hb-book-card></hb-book-card>
          <hb-book-card></hb-book-card>
          <hb-book-card></hb-book-card>
          <hb-book-card></hb-book-card>
          <hb-book-card></hb-book-card>
        </div>
      </div>
    </mat-drawer-container>
  </div>
</body>
