@import "~@angular/material/_theming.scss";
@include mat-core();

$color: mat-palette($mat-blue, 800) !default;

// Input text
.mat-input-element {
  color: $color !important;
}

// Input placeholder on focus
.mat-form-field.mat-focused .mat-form-field-label {
  color: $color !important;
}

.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    color: $color !important;
  }

  .mat-form-field-outline-thick {
    color:  !important;
  }

  &.mat-focused {
    .mat-form-field-outline-thick {
      color: $color !important;
    }

    &.mat-accent .mat-form-field-outline-thick {
      color: $color !important;
    }

    &.mat-warn .mat-form-field-outline-thick {
      color: $color !important;
    }
  }

  // Class repeated so that rule is specific enough to override focused accent color case.
  &.mat-form-field-invalid.mat-form-field-invalid {
    .mat-form-field-outline-thick {
      color: $color !important;
    }
  }

  &.mat-form-field-disabled {
    .mat-form-field-label {
      color: $color !important;
    }

    .mat-form-field-outline {
      color: $color !important;
    }
  }
}
