.container {
  height: 100%;
  padding-top: 56px;
}

header {
  height: 40px;
  width: 100%;
  background: blue;
  position: fixed;
}

mat-drawer-container {
  height: 100%;
}

.sidebar {
  width: 248px;
}

.spliter {
  width: 100%;
  height: 1px;
  margin: 5px 0px;
  background-color: #e4e4e4;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.content-space {
  width: 100%;
  height: 100%;
  padding: 0px 16px;
}
